* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  background-color: #0e202d;
  /* background-image: url("../image/"); */
  background-size: cover;
  background-position: center;
  letter-spacing: 1px;
}

header {
  background: rgb(17 31 59 / 77%);
  margin-bottom: 0px;
}

h1 {
  margin: auto;
  font-size: 55px;
  text-align: center;
  padding: 10px;
}

h2,
nav a,
h1 {
  color: #90ee90;
}

h2 {
  font-size: 40px;
}

.con {
  margin: 60px;
}

nav {
  display: inline-flex;
  background: rgba(32, 62, 123, 0.77);
  width: 25vw;
  height: inherit;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 25px;
}

main {
  display: inline-flex;
  width: 100%;
  height: inherit;
}
form {
  width: 65%;
  height: 60vh;
  display: flex;
  margin: 25px 40px;
  justify-content: space-evenly;
  flex-direction: column;
}

label {
  color: #90ee90;
  font-size: 25px;
}
input,
select {
  background-color: #add8e6;
  width: 50%;
}
input,
button {
  text-align: center;
  border-style: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 10px;
  font-size: 20px;
}

button {
  background-color: #f1c40f;
  margin-top: 20px;
  width: 25%;
  transition: 0.5s;
  margin-left: 92px;
}

button:hover {
  cursor: pointer;
  background-color: #e67e22;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  margin-top: 15px;
}

th, td {
  background: rgb(17 31 59 / 77%);
  background-color: #add8e6;
  padding: 10px;
  text-align: center;
}

.conForms{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error{
  color: rgb(251, 127, 127);
  font-size: 20px;
  
}

tbody input{
  border-radius: 0px;
  width:100%;
  height: 100%;
}

.form2 .buttons{
  display: flex;
}